#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

.form-input {
  display: flex;
  flex-direction: column;
}

.form-input label {
  margin: 10px 0 5px 0;
}

.form-input input {
  min-height: 30px;
  margin: 0 0 10px 0;
}
